*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0;
  padding: 0.2em;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

.button {
  display: inline-block;
  padding: 0.2em 1.4em;
  border-radius: 2rem;
  font: inherit;
  text-decoration: none;
  color: inherit;
  background-color: lightgrey;
}

.button:hover,
.button:active {
  background-color: grey;
}

.logo {
  margin: 0;
  line-height: 0;
}

.wrapper header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100vw;
  left: 0;
  z-index: 9999;
}

footer {
  position: fixed;
  bottom: 0;
  background: white;
  z-index: 9999;
  width: 100vw;
  height: 5vh
}

.wrapper,
.wrapper-meta {
  display: flex;
  flex-direction: column;

}

.wrapper {
  height: 95vh;
}

.wrapper-meta {
  height: 100vh;
}

main {
  flex: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 2em;
}

audio,
iframe {
  display: block;
  margin: 1em 0;
  width: 100% !important;
}

iframe {

}

.site-title {
  line-height: 1.2;
  margin: 1em 1em 1em 0.5em;
}

.gridlike {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 27vw 70vw;
}

.gridlike h2 {
  font-size: 1.6rem;
}
.gridlike h2,
.gridlike p {
  margin: 0;
}

.aframe {
  height: 50vh;
}

.outside-notice {
  position: absolute;
  height: calc(100% - 2em);
  width: calc(100% - 0.4em);
  background: rgba(50, 50, 50, 0.6);
  top: 1.8em;
  z-index: 9999;

  p {
    text-align: center;
    transform: translateY(35vh);
  }

}
