:root {
  --base-color: black;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 1.45;
  margin: 0;
  padding: 0.2em;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

a {
  display: inline-block;
}

.button {
  display: inline-block;
  padding: 0.2em 1.4em;
  border-radius: 2rem;
  font: inherit;
  text-decoration: none;
  color: inherit;
  background-color: lightgrey;
}

.button:hover,
.button:active {
  background-color: grey;
}

.logo {
  margin: 0;
  line-height: 0;
}

.wrapper header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100vw;
  left: 0;
  z-index: 9999;
}

.wrapper,
.wrapper-meta {
  display: flex;
  flex-direction: column;

}

.wrapper {
  height: 99vh;
}

.wrapper-meta {
  min-height: 100vh;
  width: 100vw;
  margin: -0.2em;
  background-repeat: repeat-x;
  padding: 1em 1em 5em;
  background-image: url('/background-sky.png');

  header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    align-self: flex-end;
  }
}

.meta-back {
  display: flex;
  direction: row-reverse;
  justify-content: flex-end;
  margin: 1em 0;
  font-size: 0.9em;
  font-weight: 600;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--base-color);
  }
  img {
    display: inline-block;
    margin-left: .3em;

  }
}

.wrapper-intro {

}

.intro-screen-1 {
  min-height: 100vh;
  width: 100vw;
  margin: -0.2em;
  background-image: url('/background-ground.png');
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0;
    padding: 1em 0;
    background-color: white;
  }
}

.intro-screen-2 {
  min-height: 100vh;
  width: 100vw;
  margin: -0.2em;
  padding: 1em;
  padding-bottom: 9rem;
  background-image: url('/background-sky.png');
  background-repeat: repeat-x;
}

.intro-screen-2 header {
  display: flex;
  flex-direction: column;

  h1 {
    margin: 1rem 0;
  }
  & + p {
    margin-top: 0;
  }
}

.intro-screen-2 .logo {
  align-self: flex-end;
}

.tabnav {
  margin: 1em 0;
  font-size: 1.6rem;
  a {
    display: inline-block;
    margin-right: .4em;
    color: var(--base-color);
  }
  a.active {
    font-weight: 600;
    text-decoration: none;
  }
}

.wrapper main {
  flex: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 1em;
}

audio,
iframe {
  display: block;
  margin: 1em 0;
  width: 100% !important;
}

iframe {

}

.site-title {
  line-height: 1.2;
  margin: 1em 1em 1em 0.5em;
}

.gridlike {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4rem 1fr;
  grid-row-gap: 1.4em;
}

.gridlike h2 {
  font-size: 1.6rem;
}
.gridlike h2,
.gridlike p {
  margin: 0;
}

.aframe {
  height: 50vh;
}

.outside-notice {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(50, 50, 50, 0.6);
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  p {
    text-align: center;
    transform: translateY(35vh);
  }
}

.jump {
  animation: jump .5s linear alternate infinite;
  position: absolute;
}

@keyframes jump {
  0%   {top: 0;}
  40%  {top: -14px;}
  100% {top: -20px;}
}

.floaty-audio {
  position: absolute;
  bottom: 5em;
  background: white;
  z-index: 9999;
  width: auto;
  left: 1.1rem;
  right: 1.1rem;
  margin: 0.2em;
  border-radius: 20px;
  border: 4px black solid;
  padding: 0.6em;

  p {
    margin: 0;
    font-size: 1rem;
  }
  audio {
    margin: 0;
    border-radius: 10px;
  }
}


.a11y-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
}

.mainnav {
  height: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-image: url('/footer-graphic.png');

  a {
    color: white;
  }
}

.center-button {
  position: absolute;
  top: 6.6em;
  z-index: 9999;
  left: 1.2em;
  line-height: 1;
  display: block;
  background: white;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.3em;
  cursor: pointer;
}

.button {
  font-size: 0.9rem;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  font-weight: 400;
  padding: 0.5em 0.7em 0.4em;
  line-height: 1;border-radius: 10px;
  padding: 0.5em 0.7em 0.4em;
  cursor: pointer;
  &:hover {
    background-color: white;
  }
}

.transcript-container {
  margin-top: 1em;
  max-height: 20vh;
  overflow-y: scroll;
  scrollbar-color: black red;
  scrollbar-width: thin;
}

.transcript {
  font-size: 1rem;
  margin-top: 1.4em;
}
